@use '../../../node_modules/bootstrap/scss/bootstrap.scss';
/* npm i --save bootstrap @popperjs/core => prima devo installare bs da terminale */

/* per importare scss @use ' percorso scss(non serve mettere .scss) ' + as + *  (asterisco intende tutto) + ; */
/* variabili */

@use '../scss/partials/partials.scss' as *;

#app_main {
    background-color: $bg-main;

    .card {
        height: 400px;
        width: 190px;
        margin-bottom: 1.5rem;
        background-color: $bg-main;
    }
}